@keyframes slideIn {
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
$bg_color: #030303;
$text_color: #f3d924;
$text_secondary: #20154f;
